<div class="mt-5">
  <% @quizzes.each_with_index do |quiz, i| %>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-8 col-md-8 py-8">
          <div class="card mb-3 border-0">
            <div class="card-body">
              <div class="d-flex flex-column bd-highlight my-2 justify-content-center">
                <div class="question_num p-2 bd-highlight d-flex justify-content-center">
                  Q.<%= i + 1 %>
                </div>
                <div class="p-2 bd-highlight d-flex justify-content-center quiz_title">
                    この色のパーソナルカラータイプは？
                </div>
                <div class="p-2 bd-highlight d-flex justify-content-center">
                  <div class="color_box <%= quiz.color.css_class %>"></div>
                </div>
                <!-- choicesここから -->
                <div class="p-2 bd-highlight d-flex justify-content-center mt-2">
                  <div class="container-fluid">
                      <% quiz.choices.each do |choice| %>
                        <div class="row choice_btn">
                          <div class="col border rounded mb-2 py-3">
                            <%= link_to "#" do %>
                              <%= choice.content %>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                  </div>
                </div>
                <!-- choicesここまで -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="container mt-3">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-8 col-md-8 py-8">
        <div class="container-fluid">
          <div class="row retry_btn">
            <div class="col rounded mb-2 py-3 retry_btn_background">
              <%= link_to quizzes_path do %>
                <i class="fas fa-redo-alt me-2"></i>リトライする
              <% end %>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col rounded mb-2 py-3 d-flex justify-content-center">
              <%= link_to dashboard_path, class: "back_link" do %>
                <i class="fas fa-angle-double-left me-1"></i>ダッシュボードに戻る
              <% end %>
            </div>
          <div>
        </div>
      </div>
    </div>
  </div>
</div>
