<!-- title -->
<div class="container mb-3">
  <div class="row">
    <div class="col">
      <h1 class="mt-5 text-center page_titile"><%= t '.title' %></h1>
    </div>
  </div>
</div>
<!-- tab -->
<div class="container-fluid mb-3">
  <div class="row">
    <div class="col text-center tab_menu">
      <%= link_to "ALL", quizzes_path %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "ベース", base_quizzes_path %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "スプリング", is_spring_quizzes_path %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "サマー", is_summer_quizzes_path %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "オータム", is_autumn_quizzes_path %>
    </div>
    <div class="col text-center tab_menu current">
      <%= link_to "ウィンター", is_winter_quizzes_path  %>
    </div>
  </div>
</div>
<div class="mt-5">
  <%= render 'templates/quizzes' %>
  <div class="container mt-2">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-8 col-md-8 py-8">
        <div class="container-fluid">
          <div class="row mb-3">
            <div class="col result_area">
              <span class="box-title">採点結果</span>
                <div class="d-flex justify-content-center align-items-center mt-3 tweet-text", id="tweet-text">
                  <p><%= @quizzes.length %>問中</p><p id="count">0</p><p>問正解!</p>
                </div>
                <div class="d-flex justify-content-center align-items-center mb-4">
                  <!-- ツイートボタン --!>
                  <div class="tweet" id="tweet">
                      <button id="twitter-share-button"><i class="fab fa-twitter me-1"></i>結果をシェア</button>
                      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </div>
                </div>
            </div>
          </div>
          <div class="row d-flex align-items-center justify-content-center">
            <div class="col d-flex align-items-center justify-content-center">
              <%= link_to is_winter_quizzes_path, class: "retrybtn" do %>
                <i class="fas fa-redo-alt me-2"></i>リトライする
              <% end %>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col rounded mb-2 py-3 d-flex justify-content-center">
              <%= link_to dashboard_path, class: "back_link" do %>
                <i class="fas fa-angle-double-left me-1"></i>ダッシュボードに戻る
              <% end %>
            </div>
          <div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'quizzes' %>