<!-- title -->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-5 text-center page_titile"><%= t '.title' %></h1>
    </div>
  </div>
</div>

<!-- tab -->
<div class="container-fluid mb-3">
  <div class="row">
    <div class="col text-center review_tab_menu current">
      <%= link_to "間違えた問題", mistakes_quizzes_path %>
    </div>
    <div class="col text-center review_tab_menu">
      <%= link_to "ブックマークした問題", bookmarks_quizzes_path %>
    </div>
  </div>
</div>

<!-- search -->
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-8 col-md-8 mb-3 mt-1">
      <%= search_form_for @q, url: mistakes_quizzes_path, class: 'd-flex align-items-center' do |f| %>
        <%= f.select :quiz_quiz_format_eq, [['4シーズン選択', 0], ['スプリング選択', 1], ['サマー選択', 2], ['オータム選択', 3], ['ウィンター選択', 4], ['ベース選択', 5]], {include_blank: '出題カテゴリ(選択なし)'}, class: 'form-select select_box me-2' %>
        <%= f.submit '絞り込む', class: "btn search_btn ms-1 px-4" %>
      <% end %>
    </div>
  </div>
</div>


<% if @quizzes.present? %>
  <div class="mt-5">
    <%= render 'templates/quizzes' %>
    <div class="container mt-5">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-8 col-md-8 py-8">
          <div class="container-fluid">
            <div class="row d-flex align-items-center justify-content-center">
              <div class="col d-flex align-items-center justify-content-center">
                <%= link_to mistakes_quizzes_path, class: "retrybtn" do %>
                  <i class="fas fa-redo-alt me-2"></i>リトライする
                <% end %>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col rounded mb-2 py-3 d-flex justify-content-center">
                <%= link_to dashboard_path, class: "back_link" do %>
                  <i class="fas fa-angle-double-left me-1"></i>ダッシュボードに戻る
                <% end %>
              </div>
            <div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container mt-5">
    <div class="row">
      <div class="col d-flex justify-content-center no_result">
        <p><%= t('.no_result') %></p>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_pack_tag 'quizzes' %>