<main>
    <div class="fv" id="fv">
        <h1 class="fv_title">PERSONAL&nbsp;COLOR</h1>
            <%= image_tag 'brand_logo_p.png', class: "fv_logo" %>
            <%= link_to 'クイズに挑戦する', root_path, class: "btn btn-outline-light text-white d-flex justify-content-center quiz_btn" %>
    </div>

    <div id="container_1">
        <p>１つ目のコンテンツ</p> 
    <!--/container--></div> 

    <div id="container_2">
        <p>２つ目のコンテンツ</p> 
    <!--/container--></div> 

    </main>
    <footer>
        <div id="container_root_footer">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <%= image_tag 'brand_logo_w.png', class: "footer_logo_size" %>
                </div>
                <div class="p-2 bd-highlight">
                    <%= link_to '利用規約', root_path, class: "text-white footer_link" %>
                </div>
                <div class="p-2 bd-highlight">
                    <%= link_to 'プライバシーポリシー', root_path, class: "text-white footer_link" %>
                </div>
                <div class="p-2 bd-highlight">
                    <%= link_to 'お問合せ', root_path, class: "text-white footer_link" %>
                </div>
            </div>
        <!--/container--></div> 
    </footer>