<% @quizzes.each_with_index do |quiz, i| %>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-8 col-md-8 py-8">
          <div class="card mb-3 border-0">
            <div class="card-body">
              <div class="d-flex flex-column bd-highlight my-2 justify-content-center">
                <div class="question_num p-2 bd-highlight d-flex justify-content-center">
                  Q.<%= i + 1 %>
                </div>
                <div class="p-2 bd-highlight d-flex justify-content-center quiz_title">
                    この色のパーソナルカラータイプは？
                </div>
                <div class="p-2 bd-highlight d-flex justify-content-center">
                  <div class="color_box <%= quiz.color.css_class %>"></div>
                </div>
                <!-- choicesここから -->
                <div class="p-2 bd-highlight d-flex justify-content-center mt-2" id: "js-choice-button-for-quiz-<%= quiz.id %>">
                  <div class="container-fluid">
                     <div class="choices">
                        <% quiz.choices.each do |c| %> 
                          <div class="ichoice" data-id="<%= c.is_answer %>">
                            <div class="row choice_btn">
                              <div class="col border rounded mb-2 py-3">
                                <%= link_to "#{c.content}", user_choices_path(choice_id: c.id), method: :post %>
                              </div>
                            </div>
                          </div>       
                        <% end %>
                      </div>
                  </div>
                </div>
                <!-- choicesここまで -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

