<div class="container d-flex flex-column bg_color">
  <div class="row align-items-center justify-content-center g-0">
    <div class="col-lg-5 col-md-8 py-8 py-xl-0">
      <!-- Card -->
        <div class="card border-0 mt-5">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4 title">
              <h1 class="mb-1 text-center"><%= t '.title' %></h1>
            </div>
            <div class="mb-3 announcement">
              <span>アカウントを作成することにより,
                <%= link_to '利用規約', root_path %>および
                <%= link_to 'プライバシーポリシー', root_path %>
                に同意するものとします。
              </span>
              </div>
            <!-- Form -->
            <%= form_with model: @user do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <div class="mb-3 form_input">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              <div class="mb-3 form_input">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
              </div>
              <div class="mb-3 form_input">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
              </div>
              <div class="mb-3 form_input">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>
              <div class="d-grid">
                <%= f.submit (t 'defaults.register'), class: 'btn submit_btn text-white' %>
              </div>
              <% end %>
              <div class="mb-3 announcement">
                <span>すでにアカウントをお持ちですか？
                  <%= link_to 'ログイン', login_path, class: 'ms-1' %>
                </span>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

