<header class="after_login">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- ブランドロゴここから -->
      <div id="after_lgoin_header_logo">
        <%= link_to dashboard_path, class: "navbar-brand text-white" do %>
          <%= image_tag 'brand_logo_w.png', class: "header_logo_size" %>
        <% end %>
      </div>
      <!-- ブランドロゴここまで -->
      <!-- ハンバーガーメニューここから -->
      <div class="openbtn1"><span></span><span></span><span></span></div>
        <nav id="g-nav">
          <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
            <ul>
              <li>
                <%= link_to dashboard_path, class: "d-flex align-items-center mb-4" do %>
                  ダッシュボード
                <% end %>
              </li>  
              <li>
                <%= link_to account_path, class: "d-flex align-items-center mb-4" do %>
                    アカウント設定
                  <% end %>
              </li>  
              <li>
                <%= link_to logout_path, class: "d-flex align-items-center mb-4", method: :delete do %>
                  ログアウト
                <% end %>
              </li>  
            </ul>
          </div>
        </nav>
      <!-- ハンバーガーメニューここまで -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
<%= javascript_pack_tag 'header' %>


    
