<div class="container-fluid mb-3">
  <div class="row">
    <div class="col text-center tab_menu current">
      <%= link_to "ALL", colors_path %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "スプリング", colors_path(season: "spring") %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "サマー", colors_path(season: "summer") %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "オータム", colors_path(season: "autumn") %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "ウィンター", colors_path(season: "winter") %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "お気に入り", favorites_colors_path %>
    </div>
  </div>
</div>
<!-- search -->
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-8 col-md-8 mb-5 mt-1">
      <%= search_form_for @q, url: colors_path, class: 'd-flex align-items-center' do |f| %>
        <%= f.select :category_id_eq, [['ピンク', 1], ['レッド', 2], ['パープル', 3], ['ブルー', 4], ['グリーン', 5], ['イエロー', 6], ['オレンジ', 7], ['ブラウン', 8], ['ベージュ', 9], ['グレイ', 10], ['ホワイト', 11], ['ブラック', 12]], {include_blank: 'カテゴリ検索 ( 選択なし ）'}, class: 'form-select select_box me-2' %>
        <%= f.submit class: "btn search_btn ms-1 px-4" %>
      <% end %>
    </div>
  </div>
</div>