<div class="container-fluid mb-3">
  <div class="row">
    <div class="col text-center tab_menu current">
      <%= link_to "ALL", colors_path %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "スプリング", colors_path(season: "spring") %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "サマー", colors_path(season: "summer") %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "オータム", colors_path(season: "autumn") %>
    </div>
    <div class="col text-center tab_menu">
      <%= link_to "ウィンター", colors_path(season: "winter") %>
    </div>
    </div>
  </div>
</div>
<!-- search -->
<div class="container mb-5">
  <div class="row align-items-center justify-content-center g-0">
    <div class="col-lg-8 col-md-8 py-8">
      <%= search_form_for @q, url: colors_path do |f| %>
        <%= f.select :category_id_eq, [['ピンク', 1], ['レッド', 2], ['パープル', 3], ['ブルー', 4], ['グリーン', 5], ['イエロー', 6], ['オレンジ', 7], ['ブラウン', 8], ['ベージュ', 9], ['グレイ', 10], ['ホワイト', 11], ['ブラック', 12]], {include_blank: '選択なし'}, class: 'form-control' %>
        <%= f.submit "絞り込む", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
