<!-- title -->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-5 text-center page_titile"><%= t '.title' %></h1>
    </div>
  </div>
</div>

<!-- tab -->
<% if params[:season] == "spring" %>
	<%= render 'tab_spring' %>
<% elsif params[:season] == "summer" %>
	<%= render 'tab_summer' %>
<% elsif params[:season] == "autumn" %>
	<%= render 'tab_autumn' %>
<% elsif params[:season] == "winter" %>
	<%= render 'tab_winter' %>
<% else %>
	<%= render 'tab_all' %> 
<% end %>

<!-- list -->
<%= render @colors %>






