<div class="color_box <%= @color.css_class %>"></div>
<div class="color_detail mt-5">
    <div class="d-flex flex-column bd-highlight mb-3 justify-content-center">
      <div class="p-2 bd-highlight d-flex justify-content-center color_show_name">
        <span class="me-3"><%= @color.name %><span>
        <%= render 'favorite_button', color: @color %>
      </div>
      <div class="p-2 bd-highlight d-flex justify-content-center color_show_code">
        <%= @color.code %>
      </div>
      <div class="p-2 bd-highlight d-flex justify-content-center color_show_season">
        <%= @color.season_type_i18n %>
      </div>
      <div class="p-2 bd-highlight d-flex justify-content-center align-items-center color_show_back_btn mt-4">
        <%= link_to "一覧に戻る", :back, class: "me-2"%>
      </div>
    </div>
</div>
