<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div class="card py-3 user_profile fadeUp">
        <div class="card-body text-center">
          <div class="d-flex flex-column bd-highlight">
            <div class="p-2 bd-highlight pt-4">こんにちは!</div>
            <div class="p-2 bd-highlight pb-5"><%= current_user.name %>さん</div>
            <hr class="my-4">
            <div classa="tweet-text", id="tweet-text">
              <div class="p-2 bd-highlight pt-5"><i class="fas fa-award me-2"></i>総クリア数(全<%= @colors.length %>色)</div>
              <div class="p-2 bd-highlight pt-2 pb-1">
                <p id="total_count", data-num="<%= @count %>">0</p><span id="total_count_colors">colors<span>
              </div>
            </div>
            <div class="p-2 bd-highlight pb-3">
              <!-- ツイートボタン --!>
              <div class="tweet" id="tweet">
                  <button id="twitter-share-button"><i class="fab fa-twitter me-1"></i>結果をシェア</button>
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 mt-3">
      <%= link_to quizzes_path, class: "text-white" do %>
        <div class="card border-0 py-3 quiz fadeUp">
          <div class="card-body text-center text-white">
            <i class="far fa-check-circle text-white"></i>
              <span class="text-white">クイズに挑戦</span>
            <i class="fas fa-angle-right"></i>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 mt-3">
      <%= link_to mistakes_quizzes_path, class: "text-white" do %>
        <div class="card border-0 py-3 review fadeUp">
          <div class="card-body text-center text-white">
            <i class="fas fa-pen text-white"></i>
              <span class="text-white">復習する</span>
            <i class="fas fa-angle-right"></i>
          </div>
        </div> 
      <% end %>
    </div>
    <div class="col-md-4 mt-3">
      <%= link_to colors_path, class: "text-white" do %>
        <div class="card border-0 py-3 index fadeUp">
          <div class="card-body text-center text-white">
            <i class="fas fa-list-ul text-white"></i>
              <span class="text-white">色一覧</span>
            <i class="fas fa-angle-right"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'dashboard' %>